.custom-navbar {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(12px);
  z-index: 1000;
}

.custom-search {
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

.custom-search::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.custom-search:focus {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  color: white;
}

.icon-box {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.3s;
}

.icon-box:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.3);
}

/* Hero Section */

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dark Overlay */

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.45);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;

  padding: 20px;
}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
}

.hero-text {
  font-size: 1.3rem;
  margin-top: 10px;
  max-width: 700px;
}

/* Responsive */

@media (max-width: 768px) {
  .hero-title {
    font-size: 2.3rem;
  }

  .hero-text {
    font-size: 1rem;
  }

  .custom-search {
    display: none;
  }
}